[submodule "mod/pickle"]
	path = mod/pickle
	url = https://github.com/howerj/pickle
[submodule "mod/httpc"]
	path = mod/httpc
	url = https://github.com/howerj/httpc
[submodule "mod/cdb"]
	path = mod/cdb
	url = https://github.com/howerj/cdb
[submodule "mod/shrink"]
	path = mod/shrink
	url = https://github.com/howerj/shrink
[submodule "mod/utf8"]
	path = mod/utf8
	url = https://github.com/howerj/utf8
